  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  h1
  {
  	font-size: 6rem;
  }

  .page-header{
  	width: 100%;
  	font-family: 'Bangers', cursive;

  }
